/* Barra de navegacion */

.navbar{
    padding: 2rem;
    background-color:#f5f6f7;   
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}
.hero{
    background-color:#fff8e8;
}
.women{
    width: 45%;
}
.div-hero{
    justify-content: center;
}

@media screen and (max-width: 767px){
    .navbar-brand {
        display: none;
    }
}