/* Barra de navegacion */

.navbar{
    padding: 2rem;
    background-color:#f5f6f7;   
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Estilos generales */

section{
    display: flex;
}

h1{
    font-size: 2rem;
    /*font-family: 'Dela Gothic One', cursive;*/
    font-family: 'Candal', sans-serif;
}

.seccion-oscura{
    color: white;
    background-color: #1b1b32;
}
.seccion-clara{
    color:black;
    background-color: #f5f6f7;
}

.seccion-titulo {
   font-size: 1.5rem;
   padding:15px 0;
   font-family: 'Candal', sans-serif;

}
.contenedor p{
 font-size: 1rem;
}

/*Seccion Hero*/
.hero{
    background-color:#fff8e8;
    min-height: 450px;

}
.text{
    text-align: center;
}
.women{
    width: 65%;
}
.div-hero{
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.div-hero h2 {
    font-size: 1.4rem;
    color:#615151;
    padding: 15px;
}
.image{
    justify-content: center;
    display: flex;
}

/* Sobre mí*/
.sobre-mi{
    height: 650px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.sobre-mi .contenedor {
    max-width: 800px;
    text-align: center;
}
/*Experiencia*/
.experiencia{
    padding: 40px;
}

.experiencia .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    transition: all 0.2s ease-in;

}
.experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
}

.experiencia i {
    font-size: 2.5rem;
    color:#01bbba;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%
}

.experiencia-titulo{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.badge {
    margin: 5px;
}

@media screen and (max-width: 767px){
    .navbar-brand {
        display: none;
    }
}
@media screen and (max-width:537px){
    .div-hero{
        flex-direction: column;
    }
}
@media screen and (max-width: 300px){
    .sobre-mi{
        height: 800px;
    }
}