/* Barra de navegacion */

.navbar{
    padding: 2rem;
    background-color:#f5f6f7;   
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Estilos generales */

section{
    display: flex;
}

h1{
    font-size: 2.5rem;
    /*font-family: 'Dela Gothic One', cursive;*/
    font-family: 'Candal', sans-serif;
}

/*Seccion Hero*/
.hero{
    background-color:#fff8e8;
    min-height: 450px;

}
.text{
    text-align: center;
}
.women{
    width: 65%;
}
.div-hero{
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.div-hero h2 {
    font-size: 1.5rem;
    color:#615151;
    padding: 15px;
}
.image{
    justify-content: center;
    display: flex;
}

@media screen and (max-width: 767px){
    .navbar-brand {
        display: none;
    }
}
@media screen and (max-width:537px){
    .div-hero{
        flex-direction: column;
    }
}